spring:
  application:
    name: auth-service

  boot:
    admin:
      client:
        enabled: true
        instance:
          name: Auth Service
          service-url: http://auth-service:8080
        url: http://admin-service:8080
        auto-registration: true

  datasource:
    url: jdbc:postgresql://localhost:5432/mediconnect_auth
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.servlet: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
      enable:
        include: health

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
